body {
    margin: auto;
    width: 800px;
}

main {
    padding: 20px;
}

.todo-wrap {
    padding: 20px;
}

.todo {
    border: 1px solid black;
    display: flex;
    margin-bottom: 10px;
    padding: 10px 0;
}

.delete-button {
    padding: 5px;
    border: 1px solid black;
}